:root {
  --cinza: #1900ff;
  --vermelha: #001faa;
  --vermelha-escura: #2f00ff;
  --branca: #fff;
  --luz: #1900ff;
}

body {
  align-items: center;
  background: linear-gradient(45deg, #00fff2 0%,#5900ff 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

h1 {
  color: var(--branca);
  margin-bottom: 20px;
  font-size: 2rem;
}

.teclado {
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
  box-shadow: 6px 8px 0 6px #00c2e4, 10px 10px 10px #000;
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.tecla {
  background-color: var(--branca);
  border-radius: 30px;
  box-shadow: 3px 3px 0 var(--cinza);
  color: var(--vermelha);
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--vermelha);
  border: 4px solid  var(--vermelha);
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset;
  color: var(--branca);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset, 1px 1px 10px var(--luz);
}
.tecla_pom{
  background-image: url(/aluramidi-curso-arquivos-iniciais/images/é\ gol\ do\ rony.jpeg);
  background-size: 190%;
  background-repeat: no-repeat;
  background-position: center;
}
.tecla_clap{
  background-image: url(/aluramidi-curso-arquivos-iniciais/images/indo\ ali.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.tecla_tim{
  background-image: url(/aluramidi-curso-arquivos-iniciais/images/ney\ e\ lula.jpeg);
  background-size: 139%;
  background-repeat: no-repeat;
  background-position: center;
}
.tecla_puff{
  background-image: url(/aluramidi-curso-arquivos-iniciais/images/errei\ fui\ mlk.jpeg);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
}
.tecla_splash{
  background-image: url(/aluramidi-curso-arquivos-iniciais/images/oh\ neymar);
  background-size: 156%;
  background-repeat: no-repeat;
  background-position: center;
}
.tecla_toim{
  background-image: url(/aluramidi-curso-arquivos-iniciais/images/lobo\ solitario.jpg);
  background-size: 106%;
  background-repeat: no-repeat;
  background-position: center;
}
.tecla_psh{
  background-image: url(/aluramidi-curso-arquivos-iniciais/images/corsinha.jpeg);
  background-size: 106%;
  background-repeat: no-repeat;
  background-position: center;
}
.tecla_tic{
  background-image: url(/aluramidi-curso-arquivos-iniciais/images/images\ \(2\).jpeg);
  background-size: 179%;
  background-repeat: no-repeat;
  background-position: center;
}
.tecla_tom{
  background-image: url(/aluramidi-curso-arquivos-iniciais/images/NEYMAR);
  background-size: 149%;
  background-repeat: no-repeat;
  background-position: center;
}